GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=[YOUR_PROJECT_ID_HERE]
GOOGLE_CLOUD_LOCATION=global

# this is the RAG Corpus resource name
RAG_CORPUS="projects/[YOUR_PROJECT_ID_HERE]/locations/[RAG_CORPUS_LOCATION]/ragCorpora/[RAG_CORPUS_ID]"

MODELARMOR_LOCATION=us
# this is the Model Armor resource name
TEMPLATE_NAME="projects/[YOUR_PROJECT_ID_HERE]/locations/[MODELARMOR_LOCATION]/templates/[MODELARMOR_TEMPLATE_NAME]"
