EMBEDDING_MODEL="gemini-embedding-001"
EMBEDDING_DIM=384

# for ADK agent
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=[YOUR_PROJECT_ID_HERE]
GOOGLE_CLOUD_LOCATION=global  # global for Gemini 3.1 model previews
